@using BouillonChanvre.Models
@using BouillonChanvre.Services
@inject ICategoryService CategoryService
@inject IDialogService DialogService

@code {
    private int? _selectedId;
    private List<Category> categories = new List<Category>();

    [Parameter]
    public int? SelectedId
    {
        get => _selectedId;
        set
        {
            if (_selectedId != value)
            {
                _selectedId = value;
                OnSelectedIdChanged.InvokeAsync(_selectedId);
            }
        }
    }

    [Parameter] public EventCallback<int?> OnSelectedIdChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await FetchCategories();
    }

    private async Task FetchCategories()
    {
        categories = await CategoryService.GetAllCategories();
    }

    private async Task OpenNewItemModal()
    {
        var parameters = new DialogParameters();
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };

        var dialogReference = DialogService.Show<CategoryDialog>("Créer une nouvelle catégorie", parameters, options);
        var result = await dialogReference.Result;

        if (result != null && !result.Canceled && result.Data is string newItemName && !string.IsNullOrWhiteSpace(newItemName))
        {
            await CategoryService.CreateCategory(newItemName);
            await FetchCategories();
        }
    }

}

<div class="form-group">
    <MudStack Row Class="py-1">

        <MudSelect T="int?" @bind-Value="SelectedId" Label="Sélectionnez une catégorie">
            <MudSelectItem T="int?" Value="null"><span>Sélectionnez une catégorie</span></MudSelectItem>
            @foreach (var category in categories)
            {
                <MudSelectItem T="int?" Value="@category.CategoryID">@category.Name</MudSelectItem>
            }
        </MudSelect>
        <MudButton StartIcon="@Icons.Material.Filled.Add" OnClick="@OpenNewItemModal" Variant="Variant.Filled">Nouvelle
            catégorie
        </MudButton>
    </MudStack>
</div>
